
.QuestContainer{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .QuestsChild{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .QuestContainer{
      display: flex;
      flex-direction: row;
      gap: 2em;
      height: max-content;
      .bar{
        height: 100%;
      }
      .QuestButton{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
      } 
    }
    .outletChild{
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}