.ActiveWeaponsContainer{
position: relative;
z-index: 10;
width: 100%;
height: 100%;
.WeaponContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  .image{
    width: 100%;
    height: 90%;
    background-color: #b4af9a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .descriptionContainer{
    width:100%;
    height: 100%;
  }
}
}