.PagesTemplate{
  h1{
    margin: 0;
  }
  margin-top: 1em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6%;
  .LeftPanel{
    width: 100%;
    height: 100%;
    .Child{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}