.IntelModule{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 4%;
  .IntelModuleContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 2;
    gap: 2em;
    .TabContent{
      display: flex;
      flex-direction: column;
      gap: 20px;
      .dropdownChild{
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        padding-left: 8px;
      }
    }
  }
  .outlet{
    width: 200%;
    height: 100%;
  }
}

.ActiveIntelContent{
  display: inline-flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  height: 100%;
  .imageParent{
    background-color: #57544a;
    width: 40%;
    display: flex;
    word-wrap: break-word;
    .image{
      width: 100%;
      display: flex;
    }
  }
  .content{
    width: 60%;
  }
}